/*------------------------------------------------------------------
Project:  ComingSoon
Version:  
Last change:  
-------------------------------------------------------------------*/



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra-Bold.eot');
    src: url('../fonts/Effra-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Effra-Bold.woff2') format('woff2'),
        url('../fonts/Effra-Bold.woff') format('woff'),
        url('../fonts/Effra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.container {max-width: 1200px;}
body{
  margin: 0;
  padding: 0;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
section{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.second{
    background-image: url(../images/second-hero.jpg);
}
.third{
    background-image: url(../images/third-hero.jpg);
}
.hero:before{
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.hero__content{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;

}
.hero__content .wrapper{
    padding: 70px 0;
    box-sizing: border-box;
}
.hero--text{
    text-align: center;
    max-width: 670px;
    margin: auto;
}
.logo{
    max-width: 170px;
    margin: auto auto 70px;
}
.pointer{
    max-width: 95px;
    margin: 45px auto 70px;
}

.border{
    display: block;
    background-color: #d83e60;
    height: 8px;
    width: 340px;
    position: absolute;
}
.border-left{
    left: 0;
    bottom: 9vh;
}
.border-right{
    right: 0;
    top: 9vh;
}

@media (max-width: 768px)  and (orientation: landscape){
    .border{
        width: 25vw;
    }
}
@media (max-width: 480px){
    .border{
        display: none;
    }
}


/*New Landing Page*/


/*Video*/
.hero__video{
    
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  /*position: fixed;*/
  top: 0;
  left: 0;
}
.section__footer{
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
.section__footer .text{
    width: 285px;
    margin-bottom: 30px;
}
.section__footer .arrow{
    max-width: 80px;
    display: block;
    margin: auto;
}

.section__footer.backToTop{
    bottom: 40px;
    text-align: right;
    width: auto;
    left: auto;
    right: 30px;
}


.newsletter{
    max-width: 525px;
    margin: 100px auto 45px;
}
.newsletter button,
input[type="submit"]{
    margin-top: 40px;
}
.newsletter .input-group{
    margin-top: 50px;
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.input-field{
    background-color: rgba(255, 255, 255, 0.5);
    height: 45px;
    padding: 5px 52px 7px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 26px;
    box-sizing: border-box;
    width: 100%;
    max-width: 425px;
}
input::placeholder{
    color: #ffffff;
}
.btn, button,
input[type="submit"]{
    background-color: #d83e60;
    height: 45px;
    padding: 7px 52px 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    font-size: 26px;
    font-weight: 200;
}
.btn img,
button img{
    max-width: 75px;
}




/*Footer*/
.footer{
    background-image: url(../images/footer-bg.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 45px 30px 65px;
    text-align: center;
}
.footer .logo{
    max-width: 140px;
    margin: auto auto 55px;
}

/*Social Icons*/
.social{
    /*position: absolute;*/
    bottom: 20px;
    right: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social li{
    display: inline-block;
    height: 32px;
    margin-left: 40px;
}
.social li:first-child{
    margin: 0;
}
.social li img{
    vertical-align: middle;
    height: 100%;
}
@media (max-width: 380px){
    .social li{
        margin-left: 30px;
    }
    .border{
        display: none;
    }
}


/*Circle Shape*/
.shapes{
    overflow: hidden;
}
.shape-circle{
    max-width: 262px;
    position: absolute;
    margin-top: -262px;
}
.shape-circle img{
    width: 100%;
}
.shape-circle.circle-pink{
    top: 200vh;
    right: 0;
}
.shape-circle.circle-white{
    top: 300vh;
    left: 0;
}


@media (max-width: 768px)  and (orientation: landscape){
    
}
@media (max-width: 768px){
    .shape-circle{
        width: 25vw;
        margin-top: -25vh;
    }
    .section__footer .text{
        width: 40vw;
        margin-bottom: 1vh;
    }
    .section__footer .arrow{
        max-width: 8vw;
    }
    .hero--text{
        max-width: 85vw;
    }
    .newsletter{
        margin-top: 10vh;
    }
}
@media (max-width: 480px){
    .shapes{
        display: none;
    }
    .hero__video, video{
        height: auto;
        width: 100%;
        min-height: auto;
    }
    .input-field{
        padding: 4px 20px 7px;
    }
    .btn, button{
        padding: 7px 40px;
    }

}

/*Countdown*/
#timer{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#timer div {
    background: rgba(255, 255, 255, 0.4);
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
    min-width: 170px;
    min-height: 200px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 70px;
    font-family: 'Effra';
    box-sizing: border-box;
}
#timer div span{
    /*margin-left: 10px;*/
    font-size: 24px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    /* position: absolute; */
    bottom: 0;
}
span.separator{
    margin: 0 30px;
}
@media (max-width: 768px){
    #timer div{
        font-size: 40px;
        min-width: 110px;
        min-height: 140px;
        padding-top: 20px;
    }
    #timer div span {
        font-size: 18px;
    }
}
@media (max-width: 640px){
    #timer div{
        font-size: 18px;
        min-width: 25%;
        min-height: 80px;
        padding-top: 20px;
        margin: 0 5px;
    }
    #timer div span {
        padding: 6px 4px;
        font-size: 10px;
    }
}

